* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* ******************************* BACKGROUND STYLING ******************************* */

.gradient-background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(120px);
}

.gradient-container {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: white;
}

.grad-1 {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: conic-gradient(from 0deg, #008BCF, #F5ECEF, #9d59bd, #d4a4d8, #008BCF, #F5ECEF, #6d467c, #F6EDF0, #dca8e0);
    /* background: conic-gradient(from 0deg, #03788C, #18234d, #291949, #6D017B, #0E142A, #03788C, #a71eb9, #1A112C); */
    animation: anim-gradient 5s linear infinite;
}

@keyframes anim-gradient {
    0% {
        transform: rotate(0deg) scale(2);
    } 

    100% {
        transform: rotate(1turn) scale(2);
    }
}

/* ******************************* TITLES STYLING ******************************* */

#main-title {
    position: relative;
    font-family: 'Krona One', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 16px 0;
    color: black;
    z-index: 10;
}

#top-songs {
    position: relative;
    font-family: 'Konkhmer Sleokchher';
    font-weight: 300;
    padding: 10px 0px 10px 35px;
}

/* ******************************* NAVBAR STYLING ******************************* */

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;

    list-style-type: none;
    margin: 0;
    padding: 15px;
    gap: 15px;
    overflow: hidden;
}

.navbar-list li a {
    color: white;
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    text-decoration: none;
}

.navbar-list li a:hover {
    color: #312648;
    transition: ease 0.3s;
}

/* ******************************* SONG INFO STYLING ******************************* */

.song-info-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    z-index: 20;
    opacity: 100%;
    width: 60vw;
    margin-left: -20px;

    list-style-type: none;
    color: #483C64;
}

#title {
    margin-left: 55px;
}

#album {
    margin-left: 65px;
}

#duration {
    margin-left: -15px;
}

.song-info-container li {
    font-family: 'Konkhmer Sleokchher';
    font-size: 12px;
}

.divider {
    display: flex;
    width: 58vw;
}

.divider hr {
    position: relative;
    flex: 1;
    margin-left: 35px;
    border: none;
    opacity: 0.5;
    height: 2px;
    background-color: #5A5A5A;
}

/* ******************************* SONG LIST STYLING ******************************* */

.content-container {
    display: flex;
    gap: 25px;
    height: calc(100vh - 250px);
}

.songlist-container {
    position: relative;
    list-style: none;
    width: 60vw;
    margin-left: 35px;
    margin-top: 25px;

    padding: 10px;
    overflow-y: auto;

    counter-reset: track;
}

.song-box {
    position: relative;
    border-radius: 8px;
    height: 76px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;

    counter-increment: track;
    display: flex;
    align-items: center;
}

.song-box::before {
    content: counter(track);
    font-family: 'Konkhmer Sleokchher';
    font-size: 40px;
    width: 65px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/* ******************************* SONG BOX STYLING ******************************* */

.album-cover {
    width: 55px;
    border-radius: 2px;
}

.song-title,
.artist,
.album,
.duration {
    font-family: 'Kumbh Sans';
}

.song-title,
.artist {
    margin-left: 10px;
}

.song-title {
    font-weight: bold;
}

.artist {
    font-size: 16px;
}

.album {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
}

.duration {
    font-size: 18px;
    font-weight: bold;
}

.play,
.duration,
.album {
    margin-left: auto;
}

.play {
    width: 50px;
    margin-right: 20px;
}

/* ******************************* SCROLLBAR STYLING ******************************* */

.songlist-container::-webkit-scrollbar {
    width: 8px;
}

.songlist-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.songlist-container::-webkit-scrollbar-thumb {
    background-color: rgba(47, 36, 65, 0.5);
    border-radius: 50px;
}

.songlist-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(14, 8, 24, 0.5);
}

/* ******************************* SONG CARD STYLING ******************************* */

.card-container {
    position: sticky;
    width: 40vw;
    height: calc((76px + 15px) * 5);
    border-radius: 12px;
    margin-right: 35px;
    margin-top: -90px;
    
    background-color: rgba(0, 0, 0, 0.1);
}










