* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* ******************************* BACKGROUND STYLING ******************************* */

.gradient-background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(120px);
}

.gradient-container {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: white;
}

#grad-1 {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: conic-gradient(from 0deg, #008BCF, #F5ECEF, #9d59bd, #d4a4d8, #008BCF, #F5ECEF, #6d467c, #F6EDF0, #dca8e0);
    animation: anim-gradient 5s linear infinite;
}

@keyframes anim-gradient {
    0% {
        transform: rotate(0deg) scale(2);
    } 

    100% {
        transform: rotate(1turn) scale(2);
    }
}

/* ******************************* TITLES STYLING ******************************* */

.main-title {
    position: relative;
    display: inline-block;
    font-family: 'Krona One', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 16px auto;
    left: 47%;
    color: black;
    z-index: 10;
}

#top-songs {
    position: relative;
    font-family: 'Konkhmer Sleokchher';
    font-weight: 300;
    padding: 10px 0px 10px 35px;
}

.head-container {
    width: 100%;
    white-space: nowrap;
}

#mode {
    padding: 5px 18px;
    font-size: 10px;
    font-family: 'Konkhmer Sleokchher';
    text-align: center;
    position: relative;
    border-style: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    float: right;
    margin: 15px 25px 15px 0px;
}   

#mode:hover {
    background-color: rgb(31, 29, 29);
    color: white;
}

/* ******************************* NAVBAR STYLING ******************************* */

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;

    list-style-type: none;
    margin: 0;
    padding: 15px;
    gap: 15px;
    overflow: hidden;
    width: 100%;
}

.navbar-list li a {
    color: white;
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    text-decoration: none;
}

.navbar-list li a:hover {
    color: #312648;
    transition: ease 0.3s;
}

/* ******************************* SONG INFO STYLING ******************************* */

.song-info-container {
    position: relative;
    /* display: flex;
    justify-content: space-evenly; */

    z-index: 20;
    opacity: 100%;
    width: 60vw;
    margin-left: 210px;

    list-style-type: none;
    color: #483C64;

    display: grid;
    grid-template-columns: 
                        50px
                        50px 
                        60px;
    align-items: center;
    column-gap: 15px;
}

.song-info-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-info-container div {
    font-family: 'Konkhmer Sleokchher';
    font-size: 12px;
}

.divider {
    display: flex;
    width: 73vw;
}

.divider hr {
    position: relative;
    flex: 1;
    margin-left: 35px;
    border: none;
    opacity: 0.5;
    height: 2px;
    background-color: #5A5A5A;
}

#album {
    margin-left: 255px;
}

#duration {
    margin-left: 455px;
}

/* ******************************* SONG LIST STYLING ******************************* */

.content-container {
    display: flex;
    gap: 25px;
    height: calc(100vh - 270px);
}

.songlist-container {
    position: relative;
    list-style: none;
    width: 70vw;
    margin-left: 35px;
    margin-top: 25px;

    padding: 10px;
    overflow-y: auto;

    counter-reset: track;
}

.song-box {
    position: relative;
    border-radius: 8px;
    height: 76px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;

    counter-increment: track;
    width: 100%;
    /* display: flex; */
}

.song-box::before {
    content: counter(track);
    font-family: 'Konkhmer Sleokchher';
    font-size: 40px;
    width: 65px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.song-box {
    display: grid;
    grid-template-columns: 
                        50px
                        5px 
                        60px
                        0.7fr
                        200px
                        50px
                        50px;
    align-items: center;
    column-gap: 15px;
}

/* ******************************* SONG BOX STYLING ******************************* */

.album-cover {
    width: 55px;
    border-radius: 2px;
}

.song-title,
.artist,
.album,
.duration {
    font-family: 'Kumbh Sans';
}

.song-title {
    font-weight: bold;
}

.artist {
    font-size: 16px;
}

.album {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
}

.play {
    cursor: pointer;
    margin-left: 90px;
}

.duration {
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    margin-left: 55px;
}

/* .song-info-container,
#number,
#cover,
#title,
#album,
#duration {
    outline: 2px solid red;
} */

/* ******************************* SCROLLBAR STYLING ******************************* */

.songlist-container::-webkit-scrollbar {
    width: 8px;
}

.songlist-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.songlist-container::-webkit-scrollbar-thumb {
    background-color: rgba(47, 36, 65, 0.5);
    border-radius: 50px;
}

.songlist-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(14, 8, 24, 0.5);
}

/* ******************************* SONG CARD STYLING ******************************* */

.card-container {
    position: sticky;
    width: 21vw;
    height: calc((76px + 15px) * 5);
    border-radius: 12px;
    margin-top: -75px;
    margin-bottom: 15px;    
    background-color: rgba(0, 0, 0, 0.1);
}

.card-container p {
    text-align: center;
    margin-top: 12px;
}

.card-album {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

#card-title,
#card-song-album {
    font-weight: bold;
}

#card-title,
#card-song-album,
#card-artist {
    font-family: 'Kumbh Sans';
}

#card-title {
    font-size: 28px;
}

#card-artist {
    margin-top: -5px;
    font-size: 16px;
}

#card-song-album {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.icon-container {
    text-align: center;
}

.icon-container img {
    display: inline-block;
    vertical-align: middle;
}

.icons {
    padding: 10px 5px 0px 5px;
}

.play-icon {
    width: 42px;
}

.arrow {
    width: 30px;
}

.other {
    width: 20px;
}

.timestamp-container {
    display: flex;
    font-family: 'Kumbh Sans';
    font-size: 14px;
    font-weight: bold;
}

input[type="range"] {
    -webkit-appearance: none;
    background: white;
    width: 170px;
    height: 6px;
    border-radius: 15px;
    outline: none;
}

.timestamp-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
}

.timestamp-container element {
    display: inline-block;
    vertical-align: middle;
}

input[type="range"]::-webkit-slider-thumb {
    background: pink;
}

/* ******************************************* DARK MODE ******************************************* */

.dark-text.dark {
    color: white;
}

#grad-1.set-background {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: conic-gradient(from 0deg, #03788C, #18234d, #291949, #6D017B, #0E142A, #03788C, #a71eb9, #1A112C);
    animation: anim-gradient 5s linear infinite;
}

#mode.set-button {
    padding: 5px 18px;
    font-size: 10px;
    font-family: 'Konkhmer Sleokchher';
    text-align: center;
    position: relative;
    border-style: none;
    border-radius: 10px;
    color: black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin: 15px 25px 15px 0px;
}